* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 70%;

  font-family: sans-serif; 
  font-size: 12px;
}

a {
  cursor: pointer;
}

ul {
  display: inline-table;
  padding: 0;
}

li {
  list-style: none;
  height: 30px;
  min-width: 150px;
  text-align: right;
}

section#lists {
  display: inline-table;
}